@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #8F6EEB;
  --color-black: #202020;
  --color-black-dark: #101010;
  --color-white: #E1E1E1;
  --color-gray-light: #C1C1C1;
  --color-gray: #A1A1A1;
  --color-gray-dark: #717171;
  --color-blue: #6E83EB;
  --color-purple: #AF6EEB;
  --color-pink: #EB6EE4;
  --color-orange: #EBBF6E;
  --color-green: #6EEB83;
  --color-yellow: #EBEB6E;
  --color-text: var(--color-black);
  --color-bg: var(--color-white);
  --color-text-secondary: var(--color-gray-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-white);
    --color-bg: var(--color-black);
    --color-text-secondary: var(--color-gray);
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  min-height: 100vh;
  @apply bg-color-bg text-black
}

.container-screen {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto;
}

.container-screen > * {
  grid-column: 2;
}

.container-screen > .fluid {
  grid-column: 1 / -1;
}

.movie-ribbon-wrapper {
  @apply w-[120px] h-[120px] overflow-hidden absolute top-[0] right-[0]
}

.movie-ribbon {
  @apply text-white text-sm bg-primary text-center relative rotate-45 px-0 py-[7px] left-[0] top-[26px] w-[155px];

}
